<table class="table table-striped table-hover">
    <tr>
        <td>
            <div class="" role="group" aria-label="Menu">
                <a class="btn btn-secondary" asp-page="Index">Home</a>
                <a class="btn btn-secondary" asp-page="/Cursos/Index">Cursos</a>
                <a class="btn btn-secondary" asp-page="Alunos">Alunos</a>
            </div>
        </td>
    </tr>

</table>